.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
  font-family: "Raleway", sans-serif;
  align-content: center;
  background-color: #759eda;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #759eda;
  /* padding: 20px; */
  /* font-family: "Raleway", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */
/* search css */
.div-search {
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: darkcyan;
  width: 100%;
}
.btn-search {
  margin: 0.5rem;
  padding: 0.3rem;
  font-weight: bold;
  background-color: royalblue;
}
#input-name {
  margin: 0.5rem;
  /* width: 25%; */
  border-style: none;
  color: white;
  border-bottom: 0.05rem solid blue;
  background-color: darkcyan;
}
#input-name:focus {
  outline: none;
}
.now-temp {
  font-weight: bolder;
  font-size: 1rem;
}
.now-hum-press {
  font-weight: bolder;
  font-size: 0.7rem;
}
/* Current weather */

#app_main {
  margin: auto;
}

div {
  /* border: 5px solid red; */
  background-color: #759eda;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: tomato; */
  /* background-color: #759eda; */

  margin: 2rem auto auto auto;
  justify-content: space-evenly;
  /* color: red; */
}
.subcard {
  display: flex;
  flex-direction: column;

  align-items: center;
}
